<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @project.text %>
</p>

<%= image_tag(@project.image_url, :width => 600) if @project.image.present? %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
